* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  flex: 0.6;
  background: url('tof2.jpg') no-repeat center center/cover;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 50px;
  left: 40px;
  color: #fff;
}

.overlay h1 {
  font-size: 2rem;
  font-weight: bold;
}

.overlay span {
  color: #33c5d8;
}

.right {
  flex: 0.4;
  background: linear-gradient(90deg, #60eade, #0a10b4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.form-box {
  width: 350px;
  text-align: center;
}

.form-box h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.form-box p {
  margin-bottom: 20px;
  color: #dff1f6;
}

.input-box {
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1e0b3a;
  color: white;
}

.input-box input::placeholder {
  color: #aaaaaa;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #11accb, #112d91);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}